doctype html
html(data-ng-app="app")
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        link(rel='stylesheet', href='https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/app.css')
    body
        #header
            h2
                a(href="/",active-checker) angular-box-input demos
        #container
            #left-sidebar(ng-controller="SidebarController")
                h3 导航
                ul
                    li
                        a(href="/views/demo-zip-code.html",active-checker) demo-zip-code
                    li
                        a(href="/views/demo-ID-NO.html",active-checker) demo-ID-NO
            #content
                block content
        script(src='https://cdn.bootcss.com/jquery/2.1.2/jquery.min.js')
        script(src='https://cdn.bootcss.com/angular.js/1.4.2/angular.min.js')
        script(src='/js/app.js')